<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOS.ProxyService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GOS.ProxyService.Properties.Settings>
            <setting name="ListenIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>8889</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>GosProxy</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value>GOS Proxy</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>GOS Proxy Server</value>
            </setting>
        </GOS.ProxyService.Properties.Settings>
    </applicationSettings>
</configuration>